<div class="landing">
  <overlay-panel show-panel="$ctrl.orderingPanelVisible" show-close="true" handle-close="$ctrl.closeOrderingPanel">
    <order-service
        ng-if="$ctrl.selectedServiceClass"
        base-project-url="{{$ctrl.baseProjectUrl}}"
        service-class="$ctrl.selectedServiceClass"
        handle-close="$ctrl.closeOrderingPanel">
    </order-service>
    <create-from-builder
        ng-if="$ctrl.selectedImageStream"
        base-project-url="{{$ctrl.baseProjectUrl}}"
        image-stream="$ctrl.selectedImageStream"
        handle-close="$ctrl.closeOrderingPanel">
    </create-from-builder>
  </overlay-panel>
  <div class="landing-search-area" ng-transclude="landingsearch"></div>
  <div class="landing-main-area">
    <div class="landing-header-area" ng-transclude="landingheader"></div>
    <div class="landing-body-area">
      <div ng-transclude="landingbody"></div>
    </div>
  </div>
  <div class="landing-side-bar" ng-transclude="landingside"></div>
</div>
