<div class="landing-search-area" ng-transclude="landingsearch"></div>
<div class="landing">
  <overlay-panel show-panel="$ctrl.orderingPanelVisible" handle-close="$ctrl.closeOrderingPanel">
    <order-service
        ng-if="$ctrl.selectedItem.resource.kind === 'ServiceClass'"
        base-project-url="{{$ctrl.baseProjectUrl}}"
        service-class="$ctrl.selectedItem"
        service-plans="$ctrl.servicePlansForItem"
        handle-close="$ctrl.closeOrderingPanel">
    </order-service>
    <create-from-builder
        ng-if="$ctrl.selectedItem.resource.kind === 'ImageStream'"
        base-project-url="{{$ctrl.baseProjectUrl}}"
        image-stream="$ctrl.selectedItem"
        handle-close="$ctrl.closeOrderingPanel">
    </create-from-builder>
  </overlay-panel>
  <div class="landing-main-area">
    <div class="landing-header-area" ng-transclude="landingheader"></div>
    <div class="landing-body-area">
      <div class="landing-body" ng-transclude="landingbody"></div>
    </div>
  </div>
  <div class="landing-side-bar" ng-transclude="landingside"></div>
</div>
