<ng-form>
  <div class="form-group">
    <label ng-class="{ 'col-sm-4': !$ctrl.stackedForm }" class="required control-label" for="project">Add to Project</label>
    <div ng-class="{ 'col-sm-8': !$ctrl.stackedForm }">
      <ui-select ng-model="$ctrl.selectedProject" required>
        <ui-select-match>
          {{$select.selected | displayName}}
        </ui-select-match>
        <ui-select-choices repeat="project in $ctrl.projects | searchProjects : $select.search track by (project | uid)">
          <span ng-bind-html="project | displayName | highlightKeywords : $select.search"></span>
              <span ng-if="project | displayName : true" class="small text-muted">
                <span ng-if="project.metadata.name">&ndash;</span>
                <span ng-bind-html="project.metadata.name | highlightKeywords : $select.search"></span>
              </span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</ng-form>

<ng-form name="$ctrl.forms.createProjectForm"
    ng-if="$ctrl.isNewProject()">
  <div class="form-group">
    <label for="name" ng-class="{ 'col-sm-4': !$ctrl.stackedForm }" class="control-label required">Project Name</label>
    <div ng-class="{
        'col-sm-8': !$ctrl.stackedForm,
        'has-error': ($ctrl.forms.createProjectForm.name.$error.pattern && $ctrl.forms.createProjectForm.name.$touched) || $ctrl.nameTaken
      }">
      <input class="form-control"
          name="name"
          id="name"
          placeholder="my-project"
          type="text"
          required
          take-focus
          minlength="2"
          maxlength="63"
          pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
          aria-describedby="nameHelp"
          ng-model="$ctrl.selectedProject.metadata.name"
          ng-model-options="{ updateOn: 'default blur' }"
          ng-change="$ctrl.onNewProjectNameChange()"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false">
      <div class="help-block">A unique name for the project.</div>
      <div class="has-error" ng-if="$ctrl.forms.createProjectForm.name.$error.minlength && $ctrl.forms.createProjectForm.name.$touched">
        <span id="nameHelp" class="help-block">
          Name must have at least two characters.
        </span>
      </div>
      <div class="has-error" ng-if="$ctrl.forms.createProjectForm.name.$error.pattern && $ctrl.forms.createProjectForm.name.$touched">
        <span id="nameHelp" class="help-block">
          Project names may only contain lower-case letters, numbers, and dashes.
          They may not start or end with a dash.
        </span>
      </div>
      <div class="has-error" ng-if="$ctrl.nameTaken">
        <span class="help-block">
          This name is already in use. Please choose a different name.
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="displayName" ng-class="{ 'col-sm-4': !$ctrl.stackedForm }" class="control-label">Project Display Name</label>
    <div ng-class="{ 'col-sm-8': !$ctrl.stackedForm }">
      <input class="form-control"
        name="displayName"
        id="displayName"
        placeholder="My Project"
        type="text"
        ng-model="$ctrl.selectedProject.metadata.annotations['new-display-name']">
    </div>
  </div>

  <div class="form-group">
    <label for="description" ng-class="{ 'col-sm-4': !$ctrl.stackedForm }" class="control-label">Project Description</label>
    <div ng-class="{ 'col-sm-8': !$ctrl.stackedForm }">
      <textarea class="form-control"
        name="description"
        id="description"
        placeholder="A short description."
        ng-model="$ctrl.selectedProject.metadata.annotations['openshift.io/description']"></textarea>
    </div>
  </div>
</ng-form>
