<ng-form name="$ctrl.forms.selectProjectForm">
  <div class="form-group" ng-class="{'has-error' : $ctrl.forms.selectProjectForm.selectProject.$error.cannotAddToProject ||
                                                   ($ctrl.forms.selectProjectForm.selectProject.$touched &&
                                                    $ctrl.forms.selectProjectForm.selectProject.$invalid)}">
    <label class="control-label required">Add to Project</label>
    <ui-select
        name="selectProject"
        ng-model="$ctrl.selectedProject"
        ng-change="$ctrl.onSelectProjectChange()"
        ng-required="true"
        search-enabled="$ctrl.searchEnabled">
      <ui-select-match placeholder="Select or create a project">
        {{$select.selected | displayName}}
      </ui-select-match>
      <ui-select-choices repeat="project in $ctrl.projects | searchProjects : $select.search track by (project | uid)"
                         group-by="$ctrl.groupChoicesBy">
        <span ng-bind-html="project | displayName | highlightKeywords : $select.search"></span>
        <span ng-if="project | displayName : true" class="small text-muted">
          <span ng-if="project.metadata.name">&ndash;</span>
          <span ng-bind-html="project.metadata.name | highlightKeywords : $select.search"></span>
        </span>
      </ui-select-choices>
    </ui-select>
    <div ng-if="$ctrl.forms.selectProjectForm.selectProject.$error.cannotAddToProject">
        <span class="help-block">
          You are not authorized to add to this project
        </span>
    </div>
    <div class="has-error" ng-if="$ctrl.forms.selectProjectForm.selectProject.$error.required &&
                                  $ctrl.forms.selectProjectForm.selectProject.$touched">
        <span class="help-block">
          Please select or create a project
        </span>
    </div>
  </div>
</ng-form>

<ng-form name="$ctrl.forms.createProjectForm"
    ng-if="$ctrl.isNewProject()">
  <div class="form-group">
    <label for="name" class="control-label required">Project Name</label>
    <div ng-class="{'has-error': ($ctrl.forms.createProjectForm.name.$error.pattern && $ctrl.forms.createProjectForm.name.$touched) || $ctrl.nameTaken}">
      <input class="form-control"
          name="name"
          id="name"
          placeholder="my-project"
          type="text"
          required
          take-focus
          minlength="2"
          maxlength="63"
          pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
          aria-describedby="nameHelp"
          ng-model="$ctrl.selectedProject.metadata.name"
          osc-unique="$ctrl.existingProjectNames"
          ng-model-options="{ updateOn: 'default blur' }"
          ng-change="$ctrl.onNewProjectNameChange()"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false">
      <div class="help-block">A unique name for the project.</div>
      <div class="has-error" ng-if="$ctrl.forms.createProjectForm.name.$error.minlength && $ctrl.forms.createProjectForm.name.$touched">
        <span id="nameHelp" class="help-block">
          Name must have at least two characters.
        </span>
      </div>
      <div class="has-error" ng-if="$ctrl.forms.createProjectForm.name.$error.pattern && $ctrl.forms.createProjectForm.name.$touched">
        <span id="nameHelp" class="help-block">
          Project names may only contain lower-case letters, numbers, and dashes.
          They may not start or end with a dash.
        </span>
      </div>
      <div class="has-error" ng-if="$ctrl.nameTaken || $ctrl.forms.createProjectForm.name.$error.oscUnique">
        <span class="help-block">
          This name is already in use. Please choose a different name.
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="displayName" class="control-label">Project Display Name</label>
    <input class="form-control"
      name="displayName"
      id="displayName"
      placeholder="My Project"
      type="text"
      ng-model="$ctrl.selectedProject.metadata.annotations['new-display-name']">
  </div>

  <div class="form-group">
    <label for="description" class="control-label">Project Description</label>
    <textarea class="form-control"
      name="description"
      id="description"
      placeholder="A short description."
      ng-model="$ctrl.selectedProject.metadata.annotations['openshift.io/description']"></textarea>
  </div>
</ng-form>
