<span ng-if="$ctrl.hasSaasOfferings()" class="saas-offerings-container">
  <h1 ng-if="$ctrl.saasTitle">{{$ctrl.saasTitle}}</h1>
  <div pf-card-view config="$ctrl.cardViewConfig" items="$ctrl.saasOfferings">
    <div class="card-container">
      <div class="card-header">
        <span class="card-icon {{item.icon}}"></span>
        <span class="card-title">{{item.title}}</span>
      </div>
      <div class="card-footer hidden-xs">
        <div class="card-description">{{item.description}}</div>
      </div>
    </div>
  </div>
</span>
