<span ng-if="$ctrl.hasSaasOfferings()" class="saas-offerings-container">
  <h1 ng-if="$ctrl.saasTitle">{{$ctrl.saasTitle}}</h1>
  <div class="saas-list" items="$ctrl.saasOfferings">
    <div class="card" ng-repeat="item in $ctrl.saasOfferings">
      <a href="" class="card-content" ng-click="$ctrl.handleClick(item)">
        <span class="card-icon {{item.icon}}"><img ng-if="item.image" ng-src="{{item.image}}"></span>
        <span class="card-title">{{item.title}}</span>
        <truncate-long-text
                class="card-description hidden-xs"
                content="item.description"
                limit="120"
                use-word-boundary="true">
        </truncate-long-text>
      </a>
    </div>
  </div>
</span>
