<header class="masthead masthead-mall text-center">
  <div class="container">
    <div class="title-inner">
      <h1>OpenShift Mall</h1>
      <div class="tag">Deploy Your Favorite Languages, Frameworks, and Databases in One Click.</div>
      <div class="row">
        <div class="col-md-7 col-sm-8 col-xs-8 center-block" style="float:none;">
          <div class="search-form">
            <form action="/search" class="search has-button" id="cse-search-form-body" method="get" role="form">
              <div class="form-group">
                <div class="search-pf-input-group">
                  <input autocomplete="off" class="form-control" dir="ltr" id="cse-search-input-body" name="query" placeholder="Search the Mall" spellcheck="false" style="outline: none;" type="search">
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-default" type="button">
                  <span class="fa fa-search"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
