@keyframes modalBackdropIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@keyframes modalBackdropOut {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes modalSlideDown {
  0% {
    margin-top: -25%;
    opacity: .5;
  }
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}
@keyframes modalSlideUp {
  0% {
    margin-top: 0%;
    opacity: .5
  }
  100% {
    margin-top: -25%;
    opacity: 0;
  }
}
