.landing-main-area {
  background-color: @landing-main-bg;

  @media(min-width: @screen-sm-min) {
    margin-right: @landing-side-bar-width-sm;
  }
  @media(min-width: @screen-md-min) {
    margin-right: @landing-side-bar-width-md;
  }
  @media(min-width: @screen-lg-min) {
    margin-right: @landing-side-bar-width-lg;
  }
}

.landing-search-form {
  margin: 0 auto;
  width: 100%;
  @media (min-width: @screen-sm-min) {
    max-width: 600px;
    width: 80%;
  }
  .dropdown-menu {
    width: 100%;
    // Styles need to be specific enough to override defaults.
    > li > a.catalog-search-match {
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }
}

.catalog-search-match {
  height: 45px;
  .catalog-search-match-info {
    display: inline-block;
    vertical-align: top;
  }
  .catalog-search-match-label {
    font-weight: 600;
  }
  .catalog-search-icon {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 30px;
  }
  .icon {
    font-size: 28px;
  }
  img {
    max-height: 28px;
    max-width: 28px;
  }
  .tag {
    margin-right: 5px;
    text-transform: uppercase;
  }
}

.landing-side-bar {
  background-color: @landing-side-bar-bg;
  color: @color-pf-white;
  @media(min-width: @screen-sm-min) {
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: @landing-side-bar-top-offset;
    width: @landing-side-bar-width-sm;
  }
  @media(min-width: @screen-md-min) {
    width: @landing-side-bar-width-md;
  }
  @media(min-width: @screen-lg-min) {
    width: @landing-side-bar-width-lg;
  }
  a {
    color: @color-pf-blue-300;
    &:hover {
      color: darken(@color-pf-blue-300, 10%);
    }
  }
}
