// Breakpoint for showing a smaller icon and service title.
@order-service-title-sm-min: 450px;
@order-service-content-height: 300px;

.order-service {
  .wizard-pf-main {
    // Room for fixed buttons.
    margin-bottom: 58px;
    // No sidebar.
    margin-left: 0;
    padding: 0;
  }
}
.order-service-details {
  @media (min-width: @screen-sm-min) {
    border-right: 1px solid @color-pf-black-400;
    height: @order-service-content-height;
  }
  margin-top: 20px;

  .order-service-details-top {
    .icon {
      font-size: 60px;
      padding-right: 20px;
      @media (min-width: @order-service-title-sm-min) {
        font-size: 68px;
      }
    }
    .service-title {
      .name {
        font-size: 18px;
        font-weight: 700;
        padding-right: 8px;
        @media (min-width: @order-service-title-sm-min) {
          font-size: 22px;
        }
      }
      .version {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .service-title-area {
      min-height: 68px;
      // Keep text from wrapping under icon.
      overflow: hidden;
    }
    .sub-title {
      font-size: 20px;
      font-weight: 600;
      color: @color-pf-black-600;
    }
    .description {
      white-space: pre-wrap;
    }
  }
  .order-service-description-block {
    clear: both;
    margin-top: 15px;
    .learn-more-link {
      font-size: @font-size-small;
      white-space: nowrap;
    }
  }
  .order-service-tags {
    margin-left: -5px;
    .tag {
      margin-left: 5px;
      text-transform: uppercase;
    }
  }
}
.order-service-config {
  overflow-y: auto;
  padding-top: 2px;
  padding-right: 0px;
  @media (min-width: @screen-sm-min) {
    height: @order-service-content-height;
  }
  .failure-messages {
    margin: 20px auto;
    max-width: 400px;
    text-align: left;
  }
  .title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    padding-bottom: 6px;
  }
  .sub-title {
    &.first {
      padding-top: 12px;
    }
    padding-top: 24px;
    font-size: 14px;
    font-weight: 400;
  }
  .select-plans {
    padding-left: 10px;
    .plan-name {
      display: inline-block;
      font-size: 14px;
      margin-bottom: 5px;
      margin-top: -2px;
    }
    .radio {
      margin-top: 15px;
    }
  }
  .config-top {
    height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
    .config-form {
      width: 100%;
      padding-top: 18px;
    }
    .adv-ops {
      height: 30%;
    }
    .adv-ops-href {
      cursor: pointer;
      font-size: 14px;
      &::after {
        content: '\f105';
        font-family: 'FontAwesome';
        padding-left: 10px;
      }
      &.collapsed {
        &::after {
          content: '\f107';
        }
      }
    }
    .adv-ops-container {
      padding-top: 2px;
    }
  }
  .config-bottom {
    height: 12%;
    float: right;
    margin-right: -13px;
    margin-top: 8px;
    margin-right: -10px;
  }
  .success-check {
    color: @color-pf-green-400;
  }
  .launch-service {
    padding-top: 30px;
    padding-bottom: 14px;
  }
  .close-href {
    cursor: pointer;
    font-size: 12px;
  }
  .related-services-container {
    background-color: @color-pf-black-200;
    margin-top: 62px;
    padding: 14px;
    display: flex;
    align-items: center;
    .related-services-label {
      font-size: 14px;
      font-weight: 600;
      padding-right: 14px;
    }
    .related-services-row {
      .card {
        background-color: @color-pf-white;
        border:1px solid @color-pf-black-400;
        float: right;
        margin-right: 6px;
        padding: 11px;
      }
    }
  }
}
.center {
  text-align: center;
}
