body.overlay-open {
  &,
  .landing,
  .landing-side-bar {
    overflow: hidden;
  }
}

.catalogs-overlay-modal {
  display: block;

  .modal-backdrop {
    &.ng-enter {
      animation: modalBackdropIn 0.15s ease-out forwards;
    }
    &.ng-leave {
      animation: modalBackdropOut .45s ease-out forwards;
    }
  }
}

.catalogs-overlay-panel {
  background: @color-pf-white;
  color: @text-color;
  border: 1px solid @modal-content-border-color;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  margin: 0 auto;
  max-width: 1200px;
  position: relative;

  &.catalogs-overlay-panel-single-column {
    max-width: 800px;
  }

  .wizard-pf-contents {
    @media (min-width: @screen-sm-min) {
      display: flex; // only required for IE
      flex: 1 1 auto;
      width: 100%;
    }
  }

  .wizard-pf-main {
    margin-left: 0; // no sidebar
    padding: 0;

    @media(max-width: @screen-xs-max) {
      max-height: calc(100vh ~"-" (@navbar-pf-height + (@wizard-pf-steps-indicator-margin-top-bottom * 2) + @wizard-pf-steps-indicator-height + @wizard-pf-footer-height + (@grid-gutter-width / 2)));
      .scroll-shadows-vertical();
    }

    @media(min-width: @screen-sm-min) {
      display: flex; // IE/Edge
    }
  }

  .wizard-pf-main-form-contents {
    @media (min-width: @screen-sm-min) {
      min-height: 100%;
      padding: (@grid-gutter-width / 2) @grid-gutter-width (@grid-gutter-width / 2) (@grid-gutter-width / 2);
      .form-horizontal .control-label {
        padding-right: 0;
      }
      .scroll-shadows-vertical-covers();
      _::-webkit-full-page-media, _:future, :root & { // only target Safari
        background: none;
      }
    }
  }

  .wizard-pf-main-inner-shadow-covers {
    padding: (@grid-gutter-width / 2);

    @media(max-width: @screen-xs-max) {
      overflow-y: auto;
      .scroll-shadows-vertical-covers();
    }

    @media(min-width: @screen-sm-min) {
      display: flex;
      flex: 1 1 auto;
      overflow: hidden;
      padding-right: 0;
    }

    // so that input and textarea form-controls don't mask the inner scroll shadows
    input, textarea {
      &.form-control {
        background-color: transparent;

        // so that disabled or readonly form-controls get the correct bg-color
        &[disabled],
        &[readonly] {
          background-color: rgba(234, 234, 234, 0.5);
        }
      }
    }
  }

  .wizard-pf-steps-indicator {
    display: flex; // PatternFly doesn't set this for IE
    height: @wizard-pf-steps-indicator-height;
    margin: @wizard-pf-steps-indicator-margin-top-bottom 0;
    padding: 0;
    @media(max-width: @screen-sm-min) {
      margin-top: calc(@wizard-pf-steps-indicator-margin-top-bottom + 10px);
    }
  }
}

.catalogs-overlay-panel-close {
  color: @color-pf-black-600;
  cursor: pointer;
  font-size: 21px;
  position: absolute;
  right: 20px;
  top: 15px;

  &.pficon-close {
    color: @color-pf-black-600;
    cursor: pointer;
  }
  &.pficon-close.disabled, .pficon-close:hover.disabled  {
    color: @color-pf-black-400;
    cursor: not-allowed;
  }
  &.pficon-close:hover {
    color: @color-pf-black-800;
  }
}

.catalogs-overlay-panel-grow-height {
  padding: @navbar-pf-height 0 (@grid-gutter-width / 2);
}

.catalogs-overlay-panel-wrapper {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: @zindex-modal;

  &.ng-enter {
    animation: modalSlideDown 0.3s ease-out forwards;
  }
  &.ng-leave {
    animation: modalSlideUp 0.2s ease-out forwards;
  }
}
