.catalogs-overlay-modal {
  display: block;

  .modal-backdrop {
    &.ng-enter {
      animation: modalBackdropIn 0.15s ease-out forwards;
    }
    &.ng-leave {
      animation: modalBackdropOut .45s ease-out forwards;
    }
  }
}

.catalogs-overlay-panel {
  background: white;
  border: 1px solid @modal-content-border-color;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  // Need to remove the 50% height for now because it causes issues for the wizard layout.
  // The wizard can be given a fixed height to achieve the styles we want.
  // height: 50%;
  margin: 0 auto;
  max-height: 90vh;
  max-width: 1200px;
  min-height: 450px;
  overflow: auto;
  padding: (@grid-gutter-width /2) @grid-gutter-width;
  position: relative;

  &.catalogs-overlay-panel-full-height {
    height: 100%;
  }
}

.catalogs-overlay-panel-close {
  color: @color-pf-black-600;
  cursor: pointer;
  font-size: 21px;
  position: absolute;
  right: 20px;
  top: 15px;

  &.pficon-close {
    color: @color-pf-black-600;
    cursor: pointer;
  }
  &.pficon-close.disabled, .pficon-close:hover.disabled  {
    color: @color-pf-black-400;
    cursor: not-allowed;
  }
  &.pficon-close:hover {
    color: @color-pf-black-800;
  }
}

.catalogs-overlay-panel-grow-height {
  height: 100%;
  padding: @navbar-pf-height 0 (@grid-gutter-width /2);
}

.catalogs-overlay-panel-wrapper {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: @zindex-modal;

  &.ng-enter {
    animation: modalSlideDown 0.3s ease-out forwards;
  }
  &.ng-leave {
    animation: modalSlideUp 0.3s ease-out forwards;
  }
}
