.build-applications-view {
  background: linear-gradient(fade(@color-pf-blue-700, 20%), fade(@color-pf-blue-700, 0%));

  h1 {
    color: @saas-text;
    padding: (@grid-gutter-width / 2);
  }
}

.saas-offerings-container {

  .saas-list {
    justify-content: space-around;

    @media (min-width: @screen-sm-min) {
      display: flex;
      margin: 0;
      &.expanded {
        flex-wrap: wrap;
      }
    }

    &.items-overflow {
      justify-content: flex-start;
    }

    .card {
      border-bottom: solid 1px @saas-border-bottom-color;
      color: @saas-text;
      display: flex;

      @media (min-width: @screen-sm-min) {
        border-bottom: none;
        flex: 0 0 auto;
        width: 50%;
      }

      @media (min-width: @screen-lg-min) {
        width: 25%;
      }

      &:hover {
        background-color: @saas-hover;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .card-content {
      align-items: center;
      color: @saas-text;
      display: flex;
      flex: 1 1 0%; // IE 11
      padding: (@grid-gutter-width / 2);

      @media (min-width: @screen-sm-min) {
        flex-direction: column;
        text-align: center;
      }

      &:focus,
      &:hover {
        text-decoration: none;
      }

      .card-description {
        font-size: @font-size-base;
        max-width: 100%; // IE 11
      }

      .card-icon {
        @media(max-width: @screen-xs-max) {
          margin-right: 10px;
          text-align: center;
          width: 40px;
        }
        .icon {
          font-size: @card-icon-xs;
          @media (min-width: @screen-sm-min) {
            font-size: @card-icon-sm;
          }
          @media (min-width: @screen-lg-min) {
            font-size: @card-icon-lg;
          }
        }
        img {
          height: @card-icon-xs;
          @media (min-width: @screen-sm-min) {
            height: @card-icon-sm;
          }
          @media (min-width: @screen-lg-min) {
            height: @card-icon-lg;
          }
        }
      }

      .card-title {
        font-size: @font-size-base + 2;

        @media (min-width: 480px) {
          font-size: @font-size-base + 4;
        }

        @media (min-width: @screen-sm-min) {
          font-weight: 700;
          margin-bottom: 10px;
          margin-top: 10px;
          max-width: 100%; // IE 11
          padding-left: 0;
        }
        @media (min-width: @screen-lg-min) {
          font-size: @font-size-base + 6;
        }
      }
    }
  }
  .sass-list-expander {
    color: @color-pf-white;
    font-size: @font-size-base;
    &:hover, &:focus {
      color: @color-pf-white;
      text-decoration: none;
    }
    &:after {
      content: @fa-var-angle-down;
      font-family: @icon-font-name-fa;
      font-size: (@font-size-base + 2);
      padding: 0 5px;
    }
    &.expanded {
      &:after {
        content: @fa-var-angle-up;
      }
    }
  }
  .sass-list-expander-container {
    margin-bottom: (@grid-gutter-width / 4);
    text-align: center;
  }

  .spinner-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
