services-view,
.services-view {
  display: flex;
  flex: 1 1 auto;
}

.services-view {
  .services-item {
    animation: catalogItemFade 200ms ease-out; // enter animation
    color: @text-color;
    min-height: 140px;
    overflow: hidden;
    padding: 0 (@grid-gutter-width / 4) (@grid-gutter-width / 2);
    position: relative;
    text-align: center;
    width: 50%;
    word-break: break-word;
    z-index: 99; // place above the background

    @media(min-width: @screen-xs-min) {
      width: 33.3333%;
    }

    @media(min-width: @screen-sm-min) {
      width: 50%;
    }

    @media(min-width: @screen-md-min) {
      width: 25%;
    }

    @media(min-width: @screen-lg-min) {
      width: 20%;
    }

    @media(min-width: @screen-xl-min) {
      width: 16.6667%;
    }

    &:focus,
    &:hover {
      text-decoration: none;
      .services-item-icon:after {
        border: 2px solid @link-color;
      }

      .services-item-name {
        color: @link-color;
      }
    }

    &.ng-leave {
      opacity: 1;
      transition: 200ms ease-in opacity;
      &.ng-leave-active {
        opacity: 0;
      }
    }

    .services-item-icon {
      &:after {
        border: 2px solid transparent;
        border-radius: @service-item-size;
        content: "";
        height: @service-item-size;
        left: 50%;
        margin: -(@service-item-size / 2) 0 0 -(@service-item-size / 2);
        position: absolute;
        top: 50%;
        transition: border 125ms linear;
        width: @service-item-size;
        will-change: border;
      }

      .font-icon,
      .fa,
      img {
        position: relative;
        // position above background
        z-index: 1;
      }
    }

    .icon-ruby, .fa-question {
      right: 2px;
    }

    .icon-wildfly {
      right: -1px;
    }
  }

  .services-item-icon {
    align-items: center;
    display: flex;
    font-size: 48px;
    height: 92px;
    justify-content: center;
    position: relative;

    img {
      max-height: 50px;
      max-width: 50px;
    }
  }

  .services-item-name {
    flex: 1 1 0%;
    font-size: 14px;
    font-weight: 600;
    .line-clamp(3, 1.4em); // limit to 3 lines
    position: relative;
    word-wrap: break-word;
  }

  .services-items {
    align-content: flex-start;
    background-color: @color-pf-white;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding-bottom: 30px; // give equal space below last row of service-items
    width: 100%; // IE11
    z-index: 9; // elevate so that toggling tiles that cause repositioning do not overlay main content block
  }

  .services-items-filter {
    flex: 1 1 100%;
    margin: (@grid-gutter-width / 2) (@grid-gutter-width / 2) (@grid-gutter-width / 4);

    .filter-pf {
      pf-filter-fields,
      pf-filter-results {
        display: inline-block;
      }

      .filter-fields button { // TODO: remove when we support multiple filter types (more than just 'keyword filter')
        display: none;
      }

      .form-group {
        margin-bottom: 0;
        @media(min-width: 345px) {
          margin-right: (@grid-gutter-width / 2);
        }
      }
    }

    .toolbar-pf-results {
      border-top: none;
      margin: 0;

      .col-sm-12 {
        float: left;
        padding: 0;
      }

      h5,
      p,
      ul {
        line-height: @line-height-base;
        padding-bottom: @padding-base-vertical;
        padding-top: @padding-base-vertical;
      }

      .list-inline {
        margin-bottom: -5px;
        padding-right: 5px;

        > li {
          margin-bottom: 5px;
        }
      }

      p {
        margin-right: (@grid-gutter-width / 4);
        text-transform: capitalize;
      }
    }
  }

  @media(min-width: @screen-xs-min) {
    .services-no-sub-categories {
      display: flex;
      flex: 1 1 auto;
      padding: 15px (@grid-gutter-width / 2) 12px;
      .services-items {
        left: 0;
        margin: 0 0 8px;
        right: 0;
      }
    }

    .services-sub-categories {
      align-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex: 1 1 auto;
      flex-wrap: wrap;
      padding: 15px (@grid-gutter-width / 2) 12px;
      position: relative;
      .services-items {
        left: 0;
        margin: 10px (@grid-gutter-width / 2);
        position: absolute;
        right: 0;
      }
    }

    .services-sub-category {
      background-color: @color-pf-white;
      display: inline-block;
      margin: 0 3px 3px 0;

      &.active .services-sub-category-tab {
        color: @text-color !important;
        &:after {
          animation: catalogItemFade 200ms ease-out;
          border-bottom-color: @color-pf-white;
          border-bottom-style: solid;
          border-bottom-width: 10px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          bottom: -13px;
          content: "";
          display: block;
          left: 50%;
          margin-left: -10px;
          opacity: 1;
          position: absolute;
        }
        .services-sub-category-tab-image img {
          opacity: 1;
        }
      }

      .services-sub-category-tab {
        color: @color-pf-black-500;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        flex-direction: column;
        height: 90px;
        justify-content: center;
        min-width: 100px;
        padding: 0 15px;
        position: relative;
        text-align: center;

        &:focus,
        &:hover {
          color: @link-color;
          text-decoration: none;
          .services-sub-category-tab-image img {
            opacity: 1;
          }
        }
      }

      .services-sub-category-tab-icon,
      .services-sub-category-tab-image {
        margin: 0 0 5px;
      }

      .services-sub-category-tab-icon {
        font-size: 36px;
      }

      .services-sub-category-tab-image {
        height: 36px;
        position: relative;
        img {
          bottom: 0;
          left: 0;
          margin: auto;
          max-height: 36px;
          max-width: 36px;
          opacity: .5;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }

  .services-view-container {
    background-color: fade(@color-pf-blue-700, 60%);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%; // IE11
    position: relative;

    .add-methods {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .add-other {
      list-style: none;
      margin: 0 (@grid-gutter-width / 2) 0 0;
      padding: 0;

      .import-file-types {
        @media(max-width: 385px) {
          display: none;
        }
      }

      li {
        display: inline-block;
        font-size: 11px;
        margin-left: 12px;

        a {
          color: @color-pf-white;

          &:hover {
            color: @color-pf-blue-300;
            text-decoration: none;
          }
        }
      }
    }

    h1 {
      color: @color-pf-white;
      margin: 0;
      padding: (@grid-gutter-width / 4) 0 (@grid-gutter-width / 4) (@grid-gutter-width / 2);
      text-shadow: 1px 1px 2px rgba(0,0,0,.5);

      @media(max-width: @screen-xxs-max) {
        font-size: 18px;
      }
    }

    @media(min-width: 480px) {
      .services-inner-container {
        background: fade(@color-pf-blue-700, 90%);
      }
    }

    @media(min-width: @screen-sm-min) {
      .services-inner-container {
        display: flex;
        flex: 1 1 auto;
      }
    }

    .services-categories {
      border: none;
      color: @color-pf-white;
      padding-left: (@grid-gutter-width / 2);

      @media(min-width: @screen-xs-min) {
        background-color: fade(@color-pf-blue-700, 90%);
      }

      li > a {
        color: @color-pf-white;

        &:hover {
          color: @color-pf-blue-300;

          &:before {
            display: none;
          }
        }
        &.services-back-link {
          // hidden by default
          display: none;
        }
      }

      li.active > a {
        color: @color-pf-blue-300;

        &:before {
          background: @color-pf-blue-300;
          bottom: 0;
          display: block;
        }
      }
    }

    .services-no-sub-categories,
    .services-sub-categories {
      // position so services-sub-categories and services-no-sub-categories are aligned, so they overlay during transition
      &.ng-enter, &.ng-enter-prepare {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 80px;
      }
    }

    .services-no-sub-categories.ng-leave.ng-leave-active {
      // fade out inner items
      .services-item,
      .services-items-filter {
        animation: catalogItemFade 150ms ease-in reverse;
        opacity: 0;
      }
    }

    .services-no-sub-categories,
    .services-sub-categories {

      &.ng-enter, &.ng-enter-prepare {
        transition: 200ms ease-out opacity;
        opacity: 0;
        &.ng-enter-active {
          opacity: 1;
        }
      }

      &.ng-enter-prepare {
        display: none;
      }

      &.ng-leave {
        opacity: 1;
        transition: 200ms ease-in opacity;
        &.ng-leave-active {
          opacity: 0;
        }
      }
    }

    .services-sub-categories {
      list-style: none;
      margin-bottom: 0;
      > li > a.services-back-link {
        display: none;
      }
    }

    @media(max-width: @screen-xxs-max) {
      &.mobile-categories-view {
        .services-categories .active .services-back-link {
          display: none !important;
        }

        .services-items,
        .services-sub-categories {
          display: none;
        }
      }

      &.mobile-items-view {
        .services-categories {
          display: none;
        }

        .services-sub-category {
          > a:after,
          &:not(.active) {
            display: none;
          }
        }
      }

      &.mobile-items-view,
      &.mobile-subcategories-view {
        .add-methods {
          display: none;
        }
      }

      &.mobile-items-view .services-sub-categories,
      &.mobile-subcategories-view .services-categories {
        > li.active {
          background-color: transparent;

          &:after {
            display: none;
          }

          > a {
            &.services-category-heading,
            &.services-sub-category-tab {
              left: 50%;
              position: absolute;
              transform: translateX(-50%);
              width: auto;

              &:focus,
              &:hover {
                color: @color-pf-white;
                cursor: default;
              }
            }
          }

          > a.services-back-link {
            display: inline-block;
            font-size: 10px;
            margin-left: 15px;
            padding-left: 15px;
            width: auto;

            &:after {
              content: '\f104';
              display: block;
              font-family: 'FontAwesome';
              position: absolute;
              left: 5px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }

      &.mobile-subcategories-view {
        .services-categories > li:not(.active),
        .services-categories > li > a:after,
        .services-sub-categories .services-items,
        .services-sub-category.active > .services-back-link {
          display: none;
        }
      }

      .services-categories,
      .services-sub-categories {
        font-size: @font-size-base;
        padding: 0;

        > li {
          background-color: fade(@color-pf-blue-700, 90%);
          float: none;
          margin-bottom: 1px;
          padding-right: 0; // fixes bug in console where arrows are misaligned
          position: relative;

          &.active {
            > a {
              color: @color-pf-white;
              cursor: pointer;

              &:before {
                display: none;
              }
            }

            .services-back-link {
              cursor: pointer;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          > a {
            color: @color-pf-white;
            display: inline-block;
            line-height: 1;
            padding: (@grid-gutter-width / 4) (@grid-gutter-width / 2);
            position: relative;
            width: 100%;

            &::after {
              content: '\f061';
              color: @color-pf-white;
              display: block;
              font-family: 'FontAwesome';
              position: absolute;
              right: 20px;
              top: 50%;
              transform: translateY(-50%);
            }

            &:focus,
            &:hover {
              color: @link-color;
              text-decoration: none;
            }

            .services-sub-category-tab-icon {
              display: none !important;
            }
          }
        }
      }
    }
  }

  .spinner-container {
    background: @color-pf-white;
    display: flex;
    flex: 1 1 auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
