@import '~bootstrap/less/variables.less';
@import '~patternfly/dist/less/color-variables.less';
@import '~patternfly/dist/less/variables.less';

@keyframes simpleSlideUp {
  0% {
    margin-top: 0%;
    opacity: 1;
  }
  100% {
    margin-top: -50%;
    opacity: 0;
  }
}
@keyframes simpleSlideDown {
  0% {
    margin-top: -50%;
  }
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}

@keyframes modalSlideDown {
  0% {
    margin-top: -50%;
    z-index: @zindex-navbar-fixed - 20;
  }
  99% {
    z-index: @zindex-navbar-fixed - 20;
  }
  100% {
    margin-top: 0%;
    opacity: 1;
    z-index: @zindex-navbar-fixed + 20;
  }
}
@keyframes modalSlideUp {
  0% {
    margin-top: 0%;
    z-index: @zindex-navbar-fixed - 20;
  }
  100% {
    margin-top: -50%;
    opacity: 1;
    z-index: @zindex-navbar-fixed - 20;
  }
}
