@import '~bootstrap/less/variables.less';
@import '~patternfly/dist/less/color-variables.less';
@import '~patternfly/dist/less/variables.less';

@landing-side-bar-bg:                                 #2C343D;
@landing-side-bar-top-offset:                         72px;
@landing-side-bar-width-sm:                           325px;
@landing-side-bar-width-md:                           375px;
@landing-side-bar-width-lg:                           450px;
@landing-main-bg: #3ca2c9;
@saas-text: @color-pf-white;
@saas-hover: fade(@color-pf-blue-600, 80%);
