@import (css) "~messenger/build/css/messenger-theme-flat.css";
@import (css) "~hopscotch/dist/css/hopscotch.css";

@import (css) "~patternfly/dist/css/patternfly.css";
@import (css) "~patternfly/dist/css/patternfly-additions.css";
@import (css) "~angular-patternfly/dist/styles/angular-patternfly.css";
@import (css) "~ui-select/dist/select.css";
@import (css) "~origin-web-common/dist/origin-web-common.css";

@import '~bootstrap/less/variables.less';
@import '~patternfly/dist/less/color-variables.less';
@import '~patternfly/dist/less/variables.less';
@import '../src/styles/variables.less';

@font-path: "./fonts";
@import "./styles/_openshift-logos-icon.less";
@import "./styles/variables.less";


@media(min-width: @screen-sm-min) {
  body, html, main {
    height: 100%;
    overflow: hidden;
  }
  body {
    padding-top: @navbar-height;
  }
}

.main-container {
  padding: 0 (@grid-gutter-width / 2);
}

.navbar-fixed-top {
  @media(max-width: @screen-xs-max) {
    position: static;
  }
}

.navbar-pf .navbar-brand {
  font-size: 11px;
  padding-bottom: 7px;
  padding-top: 7px;
  @media(min-width: @screen-sm-min) {
    padding-bottom: 2px;
    padding-top: 3px;
  }
}

.surface-shaded {
  background-color: @panel-shaded;
}
