<div class="config-top">
  <form class="form-horizontal config-form">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="project">Add to Project</label>
      <div class="col-sm-8">
        <!-- TODO: handle duplicate display names -->
        <!-- TODO: let users create projects -->
        <select
            id="project"
            ng-model="$ctrl.selectedProject"
            ng-options="project as (project | displayName) for project in $ctrl.projects track by (project | uid)"
            class="form-control">
        </select>
      </div>
    </div>

    <!-- TODO: add parameters -->
    <!-- <div class="form-group"> -->
    <!--   <label class="col-sm-4 control-label" for="field1">Field 1</label> -->
    <!--   <div class="col-sm-8"> -->
    <!--     <input class="form-control" type="text" id="field1"> -->
    <!--   </div> -->
    <!-- </div> -->
  </form>
</div>
