<div class="order-service-config">
  <div class="config-top">
    <form name="$ctrl.forms.orderConfigureForm" class="config-form">
      <select-project ng-if="!$ctrl.addToProject"
                      selected-project="$ctrl.selectedProject"
                      name-taken="$ctrl.projectNameTaken"
                      show-divider="$ctrl.parameterSchema.properties | size"></select-project>
      <catalog-parameters
        ng-if="$ctrl.parameterSchema.properties && !$ctrl.noProjectsCantCreate"
        model="$ctrl.parameterData"
        parameter-schema="$ctrl.parameterSchema"
        parameter-form-definition="$ctrl.parameterFormDefinition">
      </catalog-parameters>
    </form>
    <div ng-if="$ctrl.error" class="has-error">
      <span class="help-block">{{$ctrl.error}}</span>
    </div>
  </div>
</div>
