<bind-service-form service-class="$ctrl.serviceClass.resource"
                   service-class-name="$ctrl.serviceClass.name"
                   show-pod-presets="$ctrl.showPodPresets"
                   applications="$ctrl.applications"
                   form-name="$ctrl.forms.bindForm"
                   allow-no-binding="true"
                   project-name="$ctrl.projectDisplayName"
                   bind-type="$ctrl.bindType"
                   app-to-bind="$ctrl.appToBind">
</bind-service-form>
