<bind-service-form service-class="$ctrl.serviceClass.resource"
                   service-class-name="$ctrl.serviceClass.name"
                   form-name="$ctrl.forms.bindForm"
                   applications="$ctrl.applications"
                   allow-no-binding="true"
                   create-binding="$ctrl.createBinding"
                   app-to-bind="$ctrl.appToBind"
                   should-bind-to-app="$ctrl.shouldBindToApp"
                   group-by-kind="$ctrl.groupByKind">
</bind-service-form>
