<div class="config-top">
  <form name="$ctrl.forms.orderConfigureForm" class="config-form">
    <select-project selected-project="$ctrl.selectedProject" name-taken="$ctrl.nameTaken"></select-project>
    <catalog-parameters
      ng-if="$ctrl.parameterSchema.properties"
      model="$ctrl.parameterData"
      parameter-schema="$ctrl.parameterSchema">
    </catalog-parameters>
  </form>
  <div ng-if="$ctrl.error" class="has-error">
    <span class="help-block">{{$ctrl.error}}</span>
  </div>
</div>
