<div class="col-md-6">
  <div class="title">Red Hat Managed</div>
  <div class="sub-title first">Dedicated infrastructure</div>
  <div class="order-line">
    <div class="col-md-1">Topic</div>
    <div class="col-md-8">$.65 / 1 Million messages</div>
    <div class="col-md-2">
      <button type="button" class="btn btn-default"
              ng-click="$ctrl.configureService('Red Hat Managed - Dedicated infrastructure - Topic - $.65 / 1 Million messages')">
      Order
      </button>
    </div>
  </div>
  <div class="order-line">
    <div class="col-md-1">Queue</div>
    <div class="col-md-8">$.65 / 1 Million messages</div>
    <div class="col-md-2">
      <button type="button" class="btn btn-default"
              ng-click="$ctrl.configureService('Red Hat Managed - Dedicated infrastructure - Queue - $.65 / 1 Million messages')">
        Order
      </button>
    </div>
  </div>
  <div class="sub-title">Shared infrastructure</div>
  <div class="order-line">
    <div class="col-md-1">Topic</div>
    <div class="col-md-8">$.60 / 1 Million messages</div>
    <div class="col-md-2">
      <button type="button" class="btn btn-default"
              ng-click="$ctrl.configureService('Red Hat Managed - Shared infrastructure - Topic - $.60 / 1 Million messages')">
        Order
      </button>
    </div>
  </div>
  <div class="order-line">
    <div class="col-md-1">Queue</div>
    <div class="col-md-8">$.60 / 1 Million messages</div>
    <div class="col-md-2">
      <button type="button" class="btn btn-default"
              ng-click="$ctrl.configureService('Red Hat Managed - Shared infrastructure - Queue - $.60 / 1 Million messages')">
        Order
      </button>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="title">Self Managed</div>
  <div class="sub-title first">Dedicated infrastructure</div>
  <div class="order-line">
    <div class="col-md-1">Topic</div>
    <div class="col-md-8">$12 / instance</div>
    <div class="col-md-2">
      <button type="button" class="btn btn-default"
              ng-click="$ctrl.configureService('Self Managed - Dedicated infrastructure - Topic - $12 / instance')">
        Order
      </button>
    </div>
  </div>
  <div class="order-line">
    <div class="col-md-1">Queue</div>
    <div class="col-md-8">$12 / instance</div>
    <div class="col-md-2">
      <button type="button" class="btn btn-default"
              ng-click="$ctrl.configureService('Self Managed - Dedicated infrastructure - Queue - $12 / instance')">
        Order
      </button>
    </div>
  </div>
</div>

