<!--
  TODO:
  - Improve plan display
  - Skip plan selection if only one
-->
<div ng-repeat="plan in $ctrl.serviceClass.resource.plans" class="col-md-6">
  <div class="title">Plan {{plan.osbMetadata.displayName || plan.name}}</div>
  <!-- TODO: truncate long text -->
  <div ng-if="plan.description" class="sub-title first">{{plan.description}}</div>
  <!-- TODO: show plan bullets -->
  <div class="order-line row">
    <div class="col-sm-6">
      <span ng-if="plan.osbFree">Free</span>
      <span ng-if="!plan.osbFree">Paid</span>
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-default"
              ng-click="$ctrl.configureService(plan)">
        Order
      </button>
    </div>
  </div>
</div>
