<div class="order-service">
  <pf-wizard
       hide-header="true"
       hide-sidebar="true"
       step-class="order-service-wizard-step"
       wizard-ready="$ctrl.wizardReady"
       next-title="$ctrl.nextTitle"
       on-finish="$ctrl.closePanel()"
       on-cancel="$ctrl.closePanel()"
       wizard-done="$ctrl.wizardDone">
    <pf-wizard-step ng-repeat="step in $ctrl.steps track by step.id"
         step-title="{{step.label}}"
         wz-disabled="{{step.hidden}}"
         allow-click-nav="step.allowed"
         next-enabled="step.valid && !$ctrl.updating"
         prev-enabled="step.prevEnabled"
         on-show="step.onShow"
         step-id="{{step.id}}"
         step-priority="{{$index}}">
      <div class="wizard-pf-main-inner-shadow-covers">
        <div class="order-service-details">
          <div class="order-service-details-top">
            <div class="service-icon">
              <span ng-if="!$ctrl.imageUrl" class="icon {{$ctrl.iconClass}}"></span>
              <span ng-if="$ctrl.imageUrl" class="image"><img ng-src="{{$ctrl.imageUrl}}" alt=""></span>
            </div>
            <div class="service-title-area">
              <div class="service-title">
                {{$ctrl.serviceName}}
              </div>
              <div ng-if="$ctrl.serviceClass.tags" class="order-service-tags">
                <span ng-repeat="tag in $ctrl.serviceClass.tags" class="tag">
                  {{tag}}
                </span>
              </div>
              <div ng-if="$ctrl.serviceClass.resource.externalMetadata.documentationUrl" class="order-service-documentation-url">
                <a ng-href="{{$ctrl.serviceClass.resource.externalMetadata.documentationUrl}}" target="_blank" class="learn-more-link">Learn More <i class="fa fa-external-link" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="order-service-description-block">
            <p ng-if="$ctrl.currentStep.id !== 'plans' && ($ctrl.selectedPlan.externalMetadata.displayName || $ctrl.selectedPlan.description)">
              <span ng-if="$ctrl.selectedPlan.externalMetadata.displayName">
                Plan {{$ctrl.selectedPlan.externalMetadata.displayName}}
                <span ng-if="$ctrl.selectedPlan.description">&ndash;</span>
              </span>
              <span ng-if="$ctrl.selectedPlan.description">{{$ctrl.selectedPlan.description}}</span>
            </p>
            <p ng-if="$ctrl.description" ng-bind-html="$ctrl.description | linky : '_blank'" class="description"></p>
            <p ng-if="$ctrl.longDescription" ng-bind-html="$ctrl.longDescription | linky : '_blank'" class="description"></p>
          </div>
        </div>
        <div class="order-service-config">
          <div ng-include="step.view" class="wizard-pf-main-form-contents"></div>
        </div>
      </div>
    </>
  </>
</div>
