<div class="catalogs-overlay-modal" role="dialog">
  <div ng-if="$ctrl.shown" class="modal-backdrop fade in"></div>
  <div ng-if="$ctrl.shown" class="catalogs-overlay-panel-wrapper">
    <div class="catalogs-overlay-panel-grow-height">
      <div class="catalogs-overlay-panel" ng-class="{'catalogs-overlay-panel-single-column' : $ctrl.singleColumn}">
        <a ng-if="$ctrl.showClose" ng-click="$ctrl.closePanel()">
          <span class="catalogs-overlay-panel-close pficon pficon-close"></span>
        </a>
        <div class="catalogs-overlay-panel-body" ng-transclude>
        </div>
      </div>
    </div>
  </div>
</div>
