<div ng-if="$ctrl.loading" class="catalog-projects-spinner-container">
  <div class="spinner spinner-xl"></div>
</div>
<div class="catalog-projects-summary-panel" ng-show="!$ctrl.loading">
  <button ng-if="$ctrl.canCreate" class="create-button btn btn-primary" ng-click="$ctrl.openNewProjectPanel()">
    <span class="fa fa-plus"></span>
    <span class="create-button-text">Create Project</span>
  </button>
  <h2 class="summary-title secondary" ng-if="!$ctrl.projects || !$ctrl.projects.length">Getting Started</h2>
  <h2 class="summary-title secondary" ng-if="$ctrl.projects && $ctrl.projects.length">
    <a href="{{$ctrl.projectsUrl}}">My Projects</a>
  </h2>
  <div ng-if="!$ctrl.canCreate">
    <span ng-if="!$ctrl.newProjectMessage">
      A cluster admin can create a project for you by running the command:
      <div class="code-block">
        <code class="projects-instructions-link ">oadm new-project &lt;projectname&gt;
   --admin={{$ctrl.user.metadata.name || '&lt;YourUsername&gt;'}}</code>
      </div>
    </span>
    <span ng-if="$ctrl.newProjectMessage" ng-bind-html="$ctrl.newProjectMessage | linky : '_blank'"></span>
  </div>
  <div class="catalog-modal catalog-modal-create-project" ng-if="$ctrl.showNewProjectPanel">
    <h4 class="catalog-modal-title">
      Create Project
    </h4>
    <create-project alerts="$ctrl.alerts" is-dialog="true" redirect-action="$ctrl.onNewProject" on-cancel="$ctrl.closeNewProjectPanel"></create-project>
    <a href="" class="catalog-modal-close" ng-click="$ctrl.closeNewProjectPanel()">
      <span class="pficon pficon-close"></span>
    </a>
  </div>
  <div ng-if="$ctrl.projects && $ctrl.projects.length" class="catalog-project-summary-list">
    <div ng-if="$ctrl.totalProjects > $ctrl.maxDisplayProjects" class="projects-count">
      <strong>{{$ctrl.maxDisplayProjects}}</strong>
      of
      <strong>{{$ctrl.totalProjects}}</strong>
      Projects
      <a href="{{$ctrl.projectsUrl}}" class="projects-view-all">View All</a>
    </div>
    <div id="catalog-projects-summary-list">
      <div ng-repeat="project in $ctrl.projects track by (project | uid)" class="project-tile">
        <div class="dropdown  dropdown-kebab-pf" uib-dropdown="">
          <button class="btn btn-link uib-dropdown-toggle" type="button" id="dropdownKebab" aria-haspopup="true" aria-expanded="true" uib-dropdown-toggle>
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <ul class="uib-dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebab">
            <li><a href="" ng-click="$ctrl.onViewMemebership(project)">View Membership</a></li>
            <li><a href="" ng-click="$ctrl.editProject(project)">Edit Project</a></li>
            <li>
              <delete-project
                  label="Delete Project"
                  project-name="{{project.metadata.name}}"
                  display-name="{{(project | displayName)}}"
                  type-name-to-confirm="true"
                  stay-on-current-page="true"
                  alerts="$ctrl.alerts">
              </delete-project>
            </li>
          </ul>
        </div>
        <h3 class="project-tile-header">
          <span ng-if="project.statusIconClass" class="project-status {{project.statusIconClass}}"></span>
          <a href="{{project | projectUrl : $ctrl.baseProjectUrl}}" class="project-title">{{project | displayName}}</a>
        </h3>
        <p class="project-date">
          <span ng-if="project | displayName : true"><span ng-bind-html="project.metadata.name"></span> &ndash;</span>
          created
          <span ng-if="project | annotation : 'openshift.io/requester'">by <span ng-bind-html="project | annotation : 'openshift.io/requester'"></span></span>
          <span am-time-ago="project.metadata.creationTimestamp"></span>
        </p>
        <div class="project-description" ng-if="project | description">
          <truncate-long-text content="project | description" use-word-boundary="true" limit="120"></truncate-long-text>
        </div>
        <div class="catalog-modal catalog-modal-edit-project" ng-if="$ctrl.showEditProjectPanel && $ctrl.edittingProject === project">
          <h4 class="catalog-modal-title">
            Edit Project
          </h4>
          <edit-project project="$ctrl.edittingProject" is-dialog="true" alerts="$ctrl.alerts" redirect-action="$ctrl.onEditProject" on-cancel="$ctrl.closeEditProjectPanel"></edit-project>
          <a href="" class="catalog-modal-close" ng-click="$ctrl.closeEditProjectPanel()">
            <span class="pficon pficon-close"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="$ctrl.showGetStarted">
    <div class="getting-started-panel">
      <h2 class="secondary" ng-if="$ctrl.projects && $ctrl.projects.length > 0">Getting Started</h2>
      <button class="getting-started-button btn btn-default" ng-class="{'with-projects': $ctrl.projects && $ctrl.projects.length}" ng-click="$ctrl.handleGettingStartedClick()">
        <span class="fa fa-info-circle fa-2"></span>
        <span class="getting-started-button-text">Start Guided Tour</span>
      </button>
    </div>
    <div class="resources-panel">
      <h2 class="secondary">Resources</h2>
      <p>
        {{$ctrl.resourceDescription}}
      </p>
      <ul>
        <li ng-repeat="resource in $ctrl.resourceLinks">
          <a href="{{resource.href}}" target="_blank" title="{{resource.href}}">{{resource.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
